// 1. COLORS
// primary
$primary-color: #DF346C !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;
// secondary
$secondary-color: #00A4EB !default;
$secondary-color-light: lighten($secondary-color, 15%) !default;
$secondary-color-dark: darken($secondary-color, 15%) !default;
//
$success-color: #4caf50 !default;
$error-color: #f44336 !default;
$link-color: $primary-color !default;
//
$title-color: $primary-color !default;
$text-color: #5A5A5C !default;

// 2. VARIABLES
$columnDistance: "16px";
$boldWeight: 600;

// 3. KEYFRAME
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

