
@import 'variables';
@import 'common';
@import 'default';

body {
  background: url('../img/success-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 72px 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#title {
  h1 {
    font-size: 66px;
    margin: 0;
    color: #fff;
  }
  p {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    margin: 16px 0;
  }
  @media screen and (max-width: 1000px) { 
    h1 {
      font-size: 58px;
    }
    p {
      max-width: 250px;
      margin-bottom: 0;
    }
  }
}

#logo {
  margin: 40px 0;
  img {
    max-width: 170px;
  }
  p {
    font-size: 12px;
    color: #fff;
    font-weight: 300;
    margin: 0;
    width: 250px;
  }
}

#blog {
  h2 {
    margin: 0;
    color: #fff;
    font-size: 26px;
  }
  .container {
    margin-top: 16px;
    max-width: 1100px;
    .articles {
      width: calc(100% + 20px);
      margin: 0 -10px;
      display: flex;
      flex-direction: row;
      article {
        width: calc(33.3333% - 20px);
        margin: 0 10px;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
        .thumb {
          width: 100%;
          padding-bottom: 45%;
          position: relative;
          overflow: hidden;
          border-radius: 5px 5px 0px 0px;
          img {
            position: absolute;
            width: 100%;
            min-height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .info {
          position: relative;
          padding: 24px;
          padding-bottom: 34px;
          h3 {
            font-size: 18px;
            font-weight: normal;
            line-height: 24px;
            margin: 0;
            height: 72px;
          }
          .details {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            text-align: left;
            .category {
              color: #C8C8C8;
              margin: 0;
              font-size: 12px;
              &:hover {
                color: $primary-color;
              }
            }
            .date {
              color: #C8C8C8;
              margin: 0;
              font-size: 12px;
              margin-left: auto;

            }
          }
          .btn {
            position: absolute;
            bottom: -24px;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
          }
        }
      }
    }
  }
  @media screen and (max-width: 1000px) { 
    .container {
      .articles {
        width: 100%;
        margin: 0;
        flex-direction: column;
        article {
          width: 100%;
          margin: 32px 0;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}